tt-account {    
    & tt-account-action{
        border: 1px solid $darkred05;
        margin-top: -50px;
    }
    & .tt-account{
        &-image,&-content  {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &-image {  
            @include backskyscrapers();
        }
        &-content {
            @include backradialshadow();
        }
        &-action{
            width: 500px;
            background-color: rgba(0,0,0,.9);
            &-loader{
                width: 70px;
                font-size: 70px;
            }
            & input {
                width: 100%;
                border-color: $darkred05;
                padding: 3px 10px;
                border-width: 1px;
            }
        }
        &-title{
            background-color: $darkred09;
            & h1{
                margin:0;
                font-weight: 700;
                color: white;
            }
        }
        &-note{
            color: $darkred;
            font-size: 12px;
            margin-top: -8px;
        }
    }
}