tt-calendar{
    & .tt-calendar{
        background: $darkred01;
        &__arrows{
            color: $darkred05;
            cursor: pointer;
            width: 40px;
            height: 40px;
            padding: 12px 13px;
            &:hover{
                color: $darkred;
                background-color: $darkred01;
            }
        }
        &__days{
            &-one{
                height: 100px;
                width: 14.2%;
                position: relative;
                cursor: pointer;
                &_number{
                    font-size: 24px;
                }
                &.previous, &.next{
                    background: rgba(150,150,150,.1);
                    color: $gray;
                    &:hover{
                        background: $darkred02;
                        color: $darkgray;
                    }
                }
                &:hover{
                    background: $darkred02;
                }
            }
        }
        &__period{
            &_tasks{
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
                background: rgba(200,0,0,.5);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                text-align: center;
                padding-top: 2px;
                margin: 5px;
                font-size: 14px;
            }
            &_reported{
                position: absolute;
                top: 3px;
                margin: 2px;
                background: rgba(0,128,0,.5);
                color: #fff;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                padding: 3px 0;
                text-align: center;
                font-size: 14px;
                &.vertical{
                    right: 10px;
                }
            }
        }
        &__weeks{
            // border: 1px solid $darkred05;
            border-left: 0px;
            &-one{
                // background: rgba(200,0,0,.1);
                height: 100px;
                position: relative;
                cursor: pointer;
                // border-top: 1px solid $darkred05;
                &:last-child{
                    border-bottom: 0px;
                }
                &_number{
                    font-size: 24px;
                }
                &:hover{
                    background: $darkred02;
                }
            }
        }
        &__month, &__year{
            // background: rgba(200,0,0,.1);
            // border: 1px solid $darkred05;
            // border-right: 0px;
            cursor: pointer;
            &_title{
                padding: 3px 40px;
                font-size: 24px;
                color: $darkred;
                width: 300px;
                text-align: center;
                &:hover{
                    background: $darkred01;
                }
            }
        }
    }
}