tt-form-group {
    display: block;
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.form-control-label {
    position: absolute;
    transition: .2s;
    font-weight: 100;
    left: 6px;
    top: 2px;
    color: #989898;
    &-up, &-error{ margin: -18px 0px; font-size: 12px; }
    &-up{ color: $darkred }
    &-error{ color: $darkyellow !important; }
}
.form-control-input{
    padding-left: 6px;
    outline: 0px;
    &:focus{
        &+.form-control-label{
            margin: -18px 0px;
            font-size: 12px;
            color: $darkred;
        }
    }
    &-error{
        border-color: $darkyellow;
    }
}

.btn-primary{
    background: $btnprimback;
    border: 1px solid $btnprimbord;
    &:hover{background-color: #990000;border-color: #910000;}
    &:focus{background-color: #950000;border-color: #440000;outline-color: #770000;}
    &:active{background-color: #990000;border-color: #910000;outline-color: #770000;}
    &:active:focus{background-color: #990000;border-color: #910000;outline-color: #770000;}
    &:disabled{background: $btnprimdisback;}
    &:disabled:hover{background: $btnprimdisback;border-color: #910000;outline-color: #770000;}
}
