tt-main{
    & .tt-main{
        &-image,&-container  {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &-container{
            @include backradialshadow();
        }
        &-image{
            @include backskyscrapers();
        }
    }
    & .tt-main-frase{
        font-size: 30px;
        font-weight: 700;
        & p{
            text-align: center;
            color: $white;
        }
    }
    & .fullscreen{
        height: 100% !important;
    }
}

tt-loader{
    position: fixed;
    z-index: 110;
    left: 0;
    width: 100%;
    height: 100%;
    & .tt-loader-shadow{
        width: 100%;
        height: 100%;
        background: $darkred;
    }
    & .tt-loader-wrapper{
        width: 100px;
        font-size: 30px;
        color: white;
    }
}