tt-plan-task{
    & .tt-plan-task{
        &-ul{
            top: -1px;
            background: $white;
            padding: 0;
            z-index: 5;
            &-li{
                width: 250px;
                border: 1px solid $darkred05;
                padding: 5px 10px;
                list-style: none;
            }
            &-span{
            }
        }
        &-chosen{
            background: $darkgreen02;
        }
        &-choosing{
            background: $darkblue02;
        }
    }
}

tt-period{
    &-report{
        height: calc(100% - 50px);
        position: fixed;
        width: 100%;
        & tt-report-task{
            & .input-row-done{
                color: $darkgreen;
            }
        }
        & .tt-period-report{
            &__fulltime{
                top: -32px;
                font: 700 18px sans-serif;
                text-align: center;
                width: 50%;
                margin-left: 50%;
                position: absolute;
            }
            &__finish{
                position: absolute;
                width: 50px;
                height: 50px;
                background: $darkred;
                border-radius: 50%;
                margin: -25px;
                box-shadow: 0 0 10px rgba(0,0,0,.8);
                color: white;
                padding: 10px 15px;
                font-size: 22px;
                cursor: pointer;
                border: 0px;
                &-center{
                    bottom: 50px;
                    margin: 0 auto;
                    right: 0;
                    left: 0;
                }
                &:hover{
                    margin-top: -26px;
                    box-shadow: 0 2px 10px rgba(0,0,0,1);
                    background: $darkred;
                    &:active{
                        margin-top: -25px;
                        box-shadow: 0 1px 10px rgba(0,0,0,1);
                    }
                }
                &:disabled:hover{margin-top: -25px;box-shadow: 0 0 10px rgba(0,0,0,.8);}
            }
            &__habits{
                &-button{
                    background: #fff;
                    border: 1px solid;
                    outline: 0px !important;
                    &.done{
                        color: #fff;
                        &:hover{
                            color: #fff;
                        }
                    }
                    &-type{
                        &_0{
                            border-color: $darkyellow;
                            &.done{
                                background-color: $darkyellow;
                            }
                        }
                        &_1{
                            border-color: $darkgreen;
                            &.done{
                                background-color: $darkgreen;
                            }
                        }
                        &_2{
                            border-color: $darkred;
                            &.done{
                                background-color: $darkred;
                            }
                        }
                        &_3{
                            border-color: $black;
                            &.done{
                                background-color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
    & .tt-period-date {
        top: 62px;
        font: 700 18px sans-serif;
        text-align: center;
        width: 25%;
        left: 0;
        position: absolute;
    }
}