tt-popup{
    & .tt-popup{
        &__background{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.5);
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: .3s;
        }
        &__close{
            position: absolute;
            top: 5px;
            right: 5px;
            color: #000 !important;
        }
        &__content{
            position: fixed;
            background: #fff;
            top: 10%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 60%;
            min-width: 600px;
            border-radius: 4px;
            box-shadow: 0 3px 12px rgba(0,0,0,.5);
            padding: 10px;
            opacity: 1;
            transition: .3s;
        }
        &__targetedit{
            &-title{
                &-edit{

                }
            }
            &-description{
                &-edit{

                }
                &-empty{

                }
            }
            &-deadline{
                
            }
        }
    }
}