tt-habit-settings{
    & .tt-habit-settings{
        padding: 5px;
        &__section{
            border-right: 0px;
            border-top: 0px;
            &-habit{
                &-add, &-delete{
                    cursor: pointer;
                }
                &-add{
                    color: $darkgreen05;
                    &:hover{
                        color: $darkgreen;
                    }
                }
                &-delete{
                    color: $darkred05;
                    &:hover{
                        color: $darkred;
                    }
                }
            }
            &-needwant{
                
            }
            &-neednotwant{
                
            }
            &-notneedwant{
                
            }
            &-notneednotwant{

            }
            &-title{
                margin: 0;
                padding: 10px 20px;
                border-bottom: 1px solid $darkred;
                background: rgb(230,200,200)
            }
            &-list{
                padding: 0;
                margin-bottom:5px;
                &-item{
                    list-style: none;
                }
                &-add{
                    color: $darkgreen05;
                    margin: 5px;
                    cursor: pointer;
                    &:hover{
                        color: $darkgreen;
                    }
                }
            }
            &-input{
            }
            &-button{
                text-align: center;
            }
        }
    }
}

tt-routine-settings{
    & .tt-routine-settings{
        &__section{
            border: 1px solid $darkred;
        }
        &__doings{
            &-add{
                & i {
                    cursor:pointer;
                    margin: 5px;
                    color: $darkgreen;
                }
            }
            &-full-time{

            }
        }
    }
}

tt-doing-setting{
    display: block;
    &-add{
        height: 30px;
    }
    & .tt-doing-setting{
        &-delete{
            color: $darkred05;
            &:hover{
                color: $darkred;
            }
        }
        &-done{
            margin: 0;
            &.done{
                color: $darkgreen;
            }
        }
        &-name{
            margin: 0;
        }
        &-timeset{
            & input{
                width: 80px;
            }
            & i{
                color: $gray;
                right: 10px;
                top: 1px;
            }
        }
        &-period{
            color: $gray;
            &-week{
                color: $darkgreen;
            }
        }
        &-delete, &-period{
            cursor: pointer;
        }

        & input{
            border: 1px solid $darkred;
            font-size: 14px;
            padding: 1px 5px;
            &:focus{
                 outline: 5px auto rgb(200,0,0);
            }
        }

    }
}