tt-sitetour{
    position: absolute;
    border: 2px solid $darkred;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    margin: 200px auto;
    max-width: 700px;
    background: $white;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    & .sitetour{
        &__header{
            padding: 10px 20px;
            border-bottom: 1px solid $darkred;
            background: rgb(230,200,200)
        }
        &__title{
            margin: 0;
        }
        &__description{
            margin: 0;
            padding: 10px;
        }
        &__close{
            position: absolute;
            top: -14px;
            right: -13px;
            cursor: pointer;
            color: $lightgray;
            &:hover{
                color: $gray;
            }
        }
        &__arrow{
            width: 10px;
            height: 10px;
            position: absolute;
            border: 2px solid $darkred;
            transform: rotate(45deg);
            left: 0;
            right: 0;
            margin: -3px auto;
            border-top: 0;
            border-left: 0;
            background: #fff;
        }
    }
}