.tt-targets{
    height: calc(100% - 50px);
    position: fixed;
    width: 100%;
    z-index: -1;
    overflow: auto;
    &-settings{
        display: block;
    }
    & input{
        width: 100%;
        outline-color: rgb(220,0,0);
    }
    & .tt-targets{
        &-settings{
            display: block;
            &__column{
                max-width: 350px !important;
                display: block;
                margin: 0 auto;
            }
            &__main{
                height: 100px;
                &-input{    
                    border: 12px solid;
                    padding: 3px 10px;
                    font-size: 20px;
                    border-top-color: rgb(230,0,0);
                    border-left-color: rgb(220,0,0);
                    border-bottom-color: rgb(190,0,0);
                    border-right-color: rgb(210,0,0);
                    &:disabled{
                        border-radius: 5px;
                        color: $white;
                        background-color: $darkred;
                    }
                }
            }
            &__global{
                opacity: 0;
                &-long-wrapper{
                    padding: 0 5px;
                }
                &-input{
                    border: 4px solid rgb(220,0,0);
                    font-size: 17px;
                    &:disabled{
                        background-color: rgb(210,0,0);
                        color: #fff;
                        border-radius: 3px;
                    }
                }
            }
            &__long{
                &-check{
                    position: absolute;
                    right: 5px;
                    top: 7px;
                    font-size: 18px;
                    color: #ababab;
                    &.checked{
                        color: $darkgreen;
                        text-shadow: 0 0 10px rgb(255,255,255);
                    }
                }
                &-short-wrapper{
                    padding: 0 5px;
                    & hr{
                        height: 0px;
                        border-top: 1px solid rgb(200,0,0);
                        margin: 0px;
                        display: none;
                    }
                }
                &-input{
                    border: 2px solid rgb(220,0,0);
                    font-size: 15px;
                    border-top: 0px;
                    &:disabled{
                        margin-top: 3px;
                        border-top: 2px solid rgb(220,0,0);
                        background: rgb(220,0,0);
                        color: $white;
                        border-radius: 3px;
                    }
                }
                &-dropdown{
                    &.open {
                        hr {
                            display: block;
                        }
                        .tt-targets-settings__short-input-container {
                            height: 24px;
                        }
                    }
                }
            }
            &__short{
                &-input{
                    border: 1px solid rgb(220,0,0);
                    font-size: 14px;
                    border-bottom: 0px;
                    &:first-child{
                        border-top: 1px solid rgb(220,0,0);
                    }
                    &:disabled{
                        background-color: rgb(220,0,0);
                        color: #fff;
                        border-radius: 3px;
                    }
                    &-container{
                        height:0;
                        overflow: hidden;
                    }
                }
            }
        }
        &-overview{
            &-ul{
                padding: 0;
                &-li{
                    margin-top: 10px;
                }
            }
            &-choosing{
                
            }
            &-target{
                box-shadow: 0 3px 6px rgba(0,0,0,.3);
                padding: 10px 10px;
                border-top: 1px solid rgba(0,0,0,.05);
                &__shown{
                    background-color: $darkgreen02;
                }
                &__edit{

                }
                &__description{

                }
                &__name{

                }
                &__deadline{

                }
                &__toggle{

                }
            }
        }
    }
}