.text-placeholder{
    color: rgba(0,0,0,.3);
}

.color{
    &-red{
        color: $darkred;
    }
}

.container{
    &-title{
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px solid #c80000;
        background: #e6c8c8;
    }
}

.cursor{
    &-p{
        cursor: pointer;
    }
}

.dropdown {
    & nav{
        display: none;
    }
    &.open nav{
        display: block;
    }
}

.input-row {
    & .input{
        &-row{
            & input{
                border: 1px solid $darkred;
                font-size: 14px;
                padding: 1px 5px;
                &:focus{
                    outline: 5px auto rgb(200,0,0);
                }
            }
            &-delete{
                color: $darkred05;
                &:hover{
                    color: $darkred;
                }
            }
            &-done{
                margin: 0;
                &.done{
                    color: $darkgreen;
                }
            }
            &-name{
                margin: 0;
            }
            &-timeset{
                & input{
                    width: 80px;
                }
                & i{
                    color: $gray;
                    right: 10px;
                    top: 1px;
                }
            }
            &-period{
                color: $gray;
                &-week{
                    color: $darkgreen;
                }
            }
            &-delete, &-period{
                cursor: pointer;
            }
            &-sign{
                cursor: pointer;
            }
            &-urgent{
                color: $darkyellow;
            }
            &-important{
                color: $darkred;
            }
            &-main{
                color: $darkblue;
            }
        }
        &-bottom{
            padding: 1px 4px;
            border: 0px;
            border-bottom: 1px solid $lightgray;
            height: 30px;
        }
    }
    & .invalid{
        border-color: $darkred;
    }
}

.overflow{
    &-a{
        overflow: auto;
    }
    &-s{
        overflow: scroll;
    }
    &-h{
        overflow: hidden;
    }
    &-i{
        overflow: initial;
    }
}

.relative{
    position: relative;
}

.rotate{
    &_270{
        transform: rotate(270deg)
    }
}

.tabs{
    &-button{
        height: 40px;
        padding-top: 8px;
        border: 1px solid $white;
        border-radius: 0 0 5px 5px;
        border-top: 0px;
        background-color: $darkred01;
        cursor: pointer;
        &.active{
            background-color: $darkred;
            color: $white;
            font-weight: 600;
            border-color: $white;
        }
    }
}

.top{
    &0{
        top:0 !important;
    }
    &-100{
        top:-100% !important;
    }
}

.absolute{
    position: absolute;
}

.disp{
    &-n  {display:none !important;}
    &-i  {display:inline !important;}
    &-ib {display:inline-block !important;}
    &-b  {display:block !important;}
}
.relative{
    position: relative;
}
.noselect{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
}
.nowrap{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.layout{
    &-row, &-column{
        display: flex;
    }
    &-row{
        flex-direction: row;
        & > .flex{
            flex: 1 1 0%;
            &-5{flex: 1 1 5%;max-width:5%;}
            &-10{flex: 1 1 10%;max-width:10%;}
            &-15{flex: 1 1 15%;max-width:15%;}
            &-20{flex: 1 1 20%;max-width:20%;}
            &-25{flex: 1 1 25%;max-width:25%;}
            &-30{flex: 1 1 30%;max-width:30%;}
            &-33{flex: 1 1 33.33%;max-width:33.33%;}
            &-35{flex: 1 1 35%;max-width:35%;}
            &-40{flex: 1 1 40%;max-width:40%;}
            &-45{flex: 1 1 45%;max-width:45%;}
            &-50{flex: 1 1 50%;max-width:50%;}
            &-55{flex: 1 1 55%;max-width:55%;}
            &-60{flex: 1 1 60%;max-width:60%;}
            &-65{flex: 1 1 65%;max-width:65%;}
            &-66{flex: 1 1 66.66%;max-width:66.66%;}
            &-70{flex: 1 1 70%;max-width:70%;}
            &-75{flex: 1 1 75%;max-width:75%;}
            &-80{flex: 1 1 80%;max-width:80%;}
            &-85{flex: 1 1 85%;max-width:85%;}
            &-90{flex: 1 1 90%;max-width:90%;}
            &-95{flex: 1 1 95%;max-width:95%;}
            &-100{flex: 1 1 100%;max-width:100%;}
        }
    }
    &-column{
        flex-direction: column;
        & > .flex{
            flex: 1 1 0%;
            &-5{flex: 1 1 5%;max-height:5%;}
            &-10{flex: 1 1 10%;max-height:10%;}
            &-15{flex: 1 1 15%;max-height:15%;}
            &-20{flex: 1 1 20%;max-height:20%;}
            &-25{flex: 1 1 25%;max-height:25%;}
            &-30{flex: 1 1 30%;max-height:30%;}
            &-33{flex: 1 1 33.33%;max-height:33.33%;}
            &-35{flex: 1 1 35%;max-height:35%;}
            &-40{flex: 1 1 40%;max-height:40%;}
            &-45{flex: 1 1 45%;max-height:45%;}
            &-50{flex: 1 1 50%;max-height:50%;}
            &-55{flex: 1 1 55%;max-height:55%;}
            &-60{flex: 1 1 60%;max-height:60%;}
            &-65{flex: 1 1 65%;max-height:65%;}
            &-66{flex: 1 1 66.66%;max-height:66.66%;}
            &-70{flex: 1 1 70%;max-height:70%;}
            &-75{flex: 1 1 75%;max-height:75%;}
            &-80{flex: 1 1 80%;max-height:80%;}
            &-85{flex: 1 1 85%;max-height:85%;}
            &-90{flex: 1 1 90%;max-height:90%;}
            &-95{flex: 1 1 95%;max-height:95%;}
            &-100{flex: 1 1 100%;max-height:100%;}
        }
    }
    &-align{
        &-space-between{
            &-start, &-center, &-end{justify-content: space-between;}
            &-start{align-items: flex-start;}
            &-center{align-items: center;}
            &-end{align-items: flex-end;}
        }
        &-space-around{
            &-start, &-center, &-end{justify-content: space-around;}
            &-start{align-items: flex-start;}
            &-center{align-items: center;}
            &-end{align-items: flex-end;}
        }
        &-start{
            &-start, &-center, &-end{justify-content: flex-start;}
            &-start{align-items: flex-start;}
            &-center{align-items: center;}
            &-end{align-items: flex-end;}
        }
        &-center{
            &-start, &-center, &-end{justify-content: center;}
            &-start{align-items: flex-start;}
            &-center{align-items: center;}
            &-end{align-items: flex-end;}
        }
        &-end{
            &-start, &-center, &-end{justify-content: flex-end;}
            &-start{align-items: flex-start;}
            &-center{align-items: center;}
            &-end{align-items: flex-end;}
        }
    }
    &-wrap{
        flex-wrap: wrap;
    }
}

.p{
    &-4{padding: 4px}
    &-8{padding: 8px}
    &-16{padding: 16px}
    &-32{padding: 32px}
    &v{
        &-4{padding-top: 4px; padding-bottom: 4px;}
        &-8{padding-top: 8px; padding-bottom: 8px;}
        &-16{padding-top: 16px; padding-bottom: 16px;}
        &-32{padding-top: 32px; padding-bottom: 32px;}
    }
    &h{
        &-4{padding-left: 4px; padding-right: 4px;}
        &-8{padding-left: 8px; padding-right: 8px;}
        &-16{padding-left: 16px; padding-right: 16px;}
        &-32{padding-left: 32px; padding-right: 32px;}
    }
    &t{
        &-4{padding-top: 4px;}
        &-8{padding-top: 8px;}
        &-16{padding-top: 16px;}
        &-32{padding-top: 32px;}
    }
    &r{
        &-4{padding-right: 4px;}
        &-8{padding-right: 8px;}
        &-16{padding-right: 16px;}
        &-32{padding-right: 32px;}
    }
    &b{
        &-4{padding-bottom: 4px;}
        &-8{padding-bottom: 8px;}
        &-16{padding-bottom: 16px;}
        &-32{padding-bottom: 32px;}
    }
    &l{
        &-4{padding-left: 4px;}
        &-8{padding-left: 8px;}
        &-16{padding-left: 16px;}
        &-32{padding-left: 32px;}
    }
}

.m{
    &-0{margin: 0px}
    &-4{margin: 4px}
    &-8{margin: 8px}
    &-16{margin: 16px}
    &-32{margin: 32px}
    &v{
        &-0{margin-top: 0px; margin-bottom: 0px;}
        &-4{margin-top: 4px; margin-bottom: 4px;}
        &-8{margin-top: 8px; margin-bottom: 8px;}
        &-16{margin-top: 16px; margin-bottom: 16px;}
        &-32{margin-top: 32px; margin-bottom: 32px;}
    }
    &h{
        &-0{margin-left: 0px; margin-right: 0px;}
        &-4{margin-left: 4px; margin-right: 4px;}
        &-8{margin-left: 8px; margin-right: 8px;}
        &-16{margin-left: 16px; margin-right: 16px;}
        &-32{margin-left: 32px; margin-right: 32px;}
    }
    &t{
        &-0{margin-top: 0px;}
        &-4{margin-top: 4px;}
        &-8{margin-top: 8px;}
        &-16{margin-top: 16px;}
        &-32{margin-top: 32px;}
    }
    &r{
        &-0{margin-right: 0px;}
        &-4{margin-right: 4px;}
        &-8{margin-right: 8px;}
        &-16{margin-right: 16px;}
        &-32{margin-right: 32px;}
    }
    &b{
        &-0{margin-bottom: 0px;}
        &-4{margin-bottom: 4px;}
        &-8{margin-bottom: 8px;}
        &-16{margin-bottom: 16px;}
        &-32{margin-bottom: 32px;}
    }
    &l{
        &-0{margin-left: 0px;}
        &-4{margin-left: 4px;}
        &-8{margin-left: 8px;}
        &-16{margin-left: 16px;}
        &-32{margin-left: 32px;}
    }
}

.ta{
    &-l{
        text-align: left;
    }
    &-c{
        text-align: center;
    }
    &-r{
        text-align: right; 
    }
}

.va{
    &-b{
        vertical-align: bottom;
    }
    &-m{
        vertical-align: middle;
    }
    &-t{
        vertical-align: top; 
    }
}

.fw{
    &-b{
        font-weight: bold;
    }
}

.op{
    &-0{
        opacity: 0 !important;
    }
    &-1{
        opacity: 1 !important;
    }
}

.transition{
    &-5{
        transition: .5s;
    }
}

.w{
    &100{
        width: 100% !important;
    }
    &90{
        width: 90% !important;
    }
    &80{
        width: 80% !important;
    }
    &50{
        width: 50% !important;
    }
    &33{
        width: 33% !important;
    }
}
.h{
    &100{
        height: 100% !important;
    }
}
.left{
    &100{
        left: 100%;
    }
}