tt-menu{
    height: 50px;
    background-color: $darkred;
    & .tt-menu{
        &__link{
            height: 50px;
            & .tt-menu__link-button{
                color: $white;
                text-transform: uppercase;
                display: block;
                padding: 15px;
                cursor: pointer;
                &:hover{
                    color: $darkred;
                    background: $white;
                    text-decoration: none;
                }
            }
        }
        &__dropdown{
            & nav{
                position: absolute;
                border: 1px solid $darkred;
                border-top: 0px;
                margin: 0;
                min-width: 99px;
                z-index: 1;
                & p, & a{
                    color: $white;
                    background: $darkred;
                    text-transform: uppercase;
                    padding: 5px;
                    margin: 0;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        color: $darkred;
                        background: $white;
                    }
                }
            }
        }
    }
}

