tt-account tt-account-action {
  border: 1px solid rgba(200, 0, 0, 0.5);
  margin-top: -50px; }

tt-account .tt-account-image, tt-account .tt-account-content {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; }

tt-account .tt-account-image {
  background-image: url(/assets/images/skyscrapers.jpg);
  background-size: cover;
  background-position: 50%; }

tt-account .tt-account-content {
  background: -moz-radial-gradient(center, ellipse cover, transparent 0%, black 100%);
  background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, black 100%);
  background: radial-gradient(ellipse at center, transparent 0%, black 100%); }

tt-account .tt-account-action {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.9); }
  tt-account .tt-account-action-loader {
    width: 70px;
    font-size: 70px; }
  tt-account .tt-account-action input {
    width: 100%;
    border-color: rgba(200, 0, 0, 0.5);
    padding: 3px 10px;
    border-width: 1px; }

tt-account .tt-account-title {
  background-color: rgba(200, 0, 0, 0.9); }
  tt-account .tt-account-title h1 {
    margin: 0;
    font-weight: 700;
    color: white; }

tt-account .tt-account-note {
  color: #c80000;
  font-size: 12px;
  margin-top: -8px; }

tt-calendar .tt-calendar {
  background: rgba(200, 0, 0, 0.1); }
  tt-calendar .tt-calendar__arrows {
    color: rgba(200, 0, 0, 0.5);
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 12px 13px; }
    tt-calendar .tt-calendar__arrows:hover {
      color: #c80000;
      background-color: rgba(200, 0, 0, 0.1); }
  tt-calendar .tt-calendar__days-one {
    height: 100px;
    width: 14.2%;
    position: relative;
    cursor: pointer; }
    tt-calendar .tt-calendar__days-one_number {
      font-size: 24px; }
    tt-calendar .tt-calendar__days-one.previous, tt-calendar .tt-calendar__days-one.next {
      background: rgba(150, 150, 150, 0.1);
      color: gray; }
      tt-calendar .tt-calendar__days-one.previous:hover, tt-calendar .tt-calendar__days-one.next:hover {
        background: rgba(200, 0, 0, 0.2);
        color: #333333; }
    tt-calendar .tt-calendar__days-one:hover {
      background: rgba(200, 0, 0, 0.2); }
  tt-calendar .tt-calendar__period_tasks {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(200, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    margin: 5px;
    font-size: 14px; }
  tt-calendar .tt-calendar__period_reported {
    position: absolute;
    top: 3px;
    margin: 2px;
    background: rgba(0, 128, 0, 0.5);
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 3px 0;
    text-align: center;
    font-size: 14px; }
    tt-calendar .tt-calendar__period_reported.vertical {
      right: 10px; }
  tt-calendar .tt-calendar__weeks {
    border-left: 0px; }
    tt-calendar .tt-calendar__weeks-one {
      height: 100px;
      position: relative;
      cursor: pointer; }
      tt-calendar .tt-calendar__weeks-one:last-child {
        border-bottom: 0px; }
      tt-calendar .tt-calendar__weeks-one_number {
        font-size: 24px; }
      tt-calendar .tt-calendar__weeks-one:hover {
        background: rgba(200, 0, 0, 0.2); }
  tt-calendar .tt-calendar__month, tt-calendar .tt-calendar__year {
    cursor: pointer; }
    tt-calendar .tt-calendar__month_title, tt-calendar .tt-calendar__year_title {
      padding: 3px 40px;
      font-size: 24px;
      color: #c80000;
      width: 300px;
      text-align: center; }
      tt-calendar .tt-calendar__month_title:hover, tt-calendar .tt-calendar__year_title:hover {
        background: rgba(200, 0, 0, 0.1); }

tt-form-group {
  display: block;
  position: relative;
  margin: 10px 0;
  width: 100%; }

.form-control-label {
  position: absolute;
  transition: .2s;
  font-weight: 100;
  left: 6px;
  top: 2px;
  color: #989898; }
  .form-control-label-up, .form-control-label-error {
    margin: -18px 0px;
    font-size: 12px; }
  .form-control-label-up {
    color: #c80000; }
  .form-control-label-error {
    color: gold !important; }

.form-control-input {
  padding-left: 6px;
  outline: 0px; }
  .form-control-input:focus + .form-control-label {
    margin: -18px 0px;
    font-size: 12px;
    color: #c80000; }
  .form-control-input-error {
    border-color: gold; }

.btn-primary {
  background: #880000;
  border: 1px solid #720000; }
  .btn-primary:hover {
    background-color: #990000;
    border-color: #910000; }
  .btn-primary:focus {
    background-color: #950000;
    border-color: #440000;
    outline-color: #770000; }
  .btn-primary:active {
    background-color: #990000;
    border-color: #910000;
    outline-color: #770000; }
  .btn-primary:active:focus {
    background-color: #990000;
    border-color: #910000;
    outline-color: #770000; }
  .btn-primary:disabled {
    background: #883838; }
  .btn-primary:disabled:hover {
    background: #883838;
    border-color: #910000;
    outline-color: #770000; }

tt-main .tt-main-image, tt-main .tt-main-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1; }

tt-main .tt-main-container {
  background: -moz-radial-gradient(center, ellipse cover, transparent 0%, black 100%);
  background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, black 100%);
  background: radial-gradient(ellipse at center, transparent 0%, black 100%); }

tt-main .tt-main-image {
  background-image: url(/assets/images/skyscrapers.jpg);
  background-size: cover;
  background-position: 50%; }

tt-main .tt-main-frase {
  font-size: 30px;
  font-weight: 700; }
  tt-main .tt-main-frase p {
    text-align: center;
    color: #fff; }

tt-main .fullscreen {
  height: 100% !important; }

tt-loader {
  position: fixed;
  z-index: 110;
  left: 0;
  width: 100%;
  height: 100%; }
  tt-loader .tt-loader-shadow {
    width: 100%;
    height: 100%;
    background: #c80000; }
  tt-loader .tt-loader-wrapper {
    width: 100px;
    font-size: 30px;
    color: white; }

tt-plan-task .tt-plan-task-ul {
  top: -1px;
  background: #fff;
  padding: 0;
  z-index: 5; }
  tt-plan-task .tt-plan-task-ul-li {
    width: 250px;
    border: 1px solid rgba(200, 0, 0, 0.5);
    padding: 5px 10px;
    list-style: none; }

tt-plan-task .tt-plan-task-chosen {
  background: rgba(0, 200, 0, 0.2); }

tt-plan-task .tt-plan-task-choosing {
  background: rgba(0, 0, 200, 0.2); }

tt-period-report {
  height: calc(100% - 50px);
  position: fixed;
  width: 100%; }
  tt-period-report tt-report-task .input-row-done {
    color: #00aa00; }
  tt-period-report .tt-period-report__fulltime {
    top: -32px;
    font: 700 18px sans-serif;
    text-align: center;
    width: 50%;
    margin-left: 50%;
    position: absolute; }
  tt-period-report .tt-period-report__finish {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #c80000;
    border-radius: 50%;
    margin: -25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    font-size: 22px;
    cursor: pointer;
    border: 0px; }
    tt-period-report .tt-period-report__finish-center {
      bottom: 50px;
      margin: 0 auto;
      right: 0;
      left: 0; }
    tt-period-report .tt-period-report__finish:hover {
      margin-top: -26px;
      box-shadow: 0 2px 10px black;
      background: #c80000; }
      tt-period-report .tt-period-report__finish:hover:active {
        margin-top: -25px;
        box-shadow: 0 1px 10px black; }
    tt-period-report .tt-period-report__finish:disabled:hover {
      margin-top: -25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }
  tt-period-report .tt-period-report__habits-button {
    background: #fff;
    border: 1px solid;
    outline: 0px !important; }
    tt-period-report .tt-period-report__habits-button.done {
      color: #fff; }
      tt-period-report .tt-period-report__habits-button.done:hover {
        color: #fff; }
    tt-period-report .tt-period-report__habits-button-type_0 {
      border-color: gold; }
      tt-period-report .tt-period-report__habits-button-type_0.done {
        background-color: gold; }
    tt-period-report .tt-period-report__habits-button-type_1 {
      border-color: #00aa00; }
      tt-period-report .tt-period-report__habits-button-type_1.done {
        background-color: #00aa00; }
    tt-period-report .tt-period-report__habits-button-type_2 {
      border-color: #c80000; }
      tt-period-report .tt-period-report__habits-button-type_2.done {
        background-color: #c80000; }
    tt-period-report .tt-period-report__habits-button-type_3 {
      border-color: #000; }
      tt-period-report .tt-period-report__habits-button-type_3.done {
        background-color: #000; }

tt-period .tt-period-date {
  top: 62px;
  font: 700 18px sans-serif;
  text-align: center;
  width: 25%;
  left: 0;
  position: absolute; }

tt-habit-settings .tt-habit-settings {
  padding: 5px; }
  tt-habit-settings .tt-habit-settings__section {
    border-right: 0px;
    border-top: 0px; }
    tt-habit-settings .tt-habit-settings__section-habit-add, tt-habit-settings .tt-habit-settings__section-habit-delete {
      cursor: pointer; }
    tt-habit-settings .tt-habit-settings__section-habit-add {
      color: rgba(0, 200, 0, 0.5); }
      tt-habit-settings .tt-habit-settings__section-habit-add:hover {
        color: #00aa00; }
    tt-habit-settings .tt-habit-settings__section-habit-delete {
      color: rgba(200, 0, 0, 0.5); }
      tt-habit-settings .tt-habit-settings__section-habit-delete:hover {
        color: #c80000; }
    tt-habit-settings .tt-habit-settings__section-title {
      margin: 0;
      padding: 10px 20px;
      border-bottom: 1px solid #c80000;
      background: #e6c8c8; }
    tt-habit-settings .tt-habit-settings__section-list {
      padding: 0;
      margin-bottom: 5px; }
      tt-habit-settings .tt-habit-settings__section-list-item {
        list-style: none; }
      tt-habit-settings .tt-habit-settings__section-list-add {
        color: rgba(0, 200, 0, 0.5);
        margin: 5px;
        cursor: pointer; }
        tt-habit-settings .tt-habit-settings__section-list-add:hover {
          color: #00aa00; }
    tt-habit-settings .tt-habit-settings__section-button {
      text-align: center; }

tt-routine-settings .tt-routine-settings__section {
  border: 1px solid #c80000; }

tt-routine-settings .tt-routine-settings__doings-add i {
  cursor: pointer;
  margin: 5px;
  color: #00aa00; }

tt-doing-setting {
  display: block; }
  tt-doing-setting-add {
    height: 30px; }
  tt-doing-setting .tt-doing-setting-delete {
    color: rgba(200, 0, 0, 0.5); }
    tt-doing-setting .tt-doing-setting-delete:hover {
      color: #c80000; }
  tt-doing-setting .tt-doing-setting-done {
    margin: 0; }
    tt-doing-setting .tt-doing-setting-done.done {
      color: #00aa00; }
  tt-doing-setting .tt-doing-setting-name {
    margin: 0; }
  tt-doing-setting .tt-doing-setting-timeset input {
    width: 80px; }
  tt-doing-setting .tt-doing-setting-timeset i {
    color: gray;
    right: 10px;
    top: 1px; }
  tt-doing-setting .tt-doing-setting-period {
    color: gray; }
    tt-doing-setting .tt-doing-setting-period-week {
      color: #00aa00; }
  tt-doing-setting .tt-doing-setting-delete, tt-doing-setting .tt-doing-setting-period {
    cursor: pointer; }
  tt-doing-setting .tt-doing-setting input {
    border: 1px solid #c80000;
    font-size: 14px;
    padding: 1px 5px; }
    tt-doing-setting .tt-doing-setting input:focus {
      outline: 5px auto #c80000; }

tt-popup .tt-popup__background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .3s; }

tt-popup .tt-popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #000 !important; }

tt-popup .tt-popup__content {
  position: fixed;
  background: #fff;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  min-width: 600px;
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
  padding: 10px;
  opacity: 1;
  transition: .3s; }

tt-sitetour {
  position: absolute;
  border: 2px solid #c80000;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  margin: 200px auto;
  max-width: 700px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }
  tt-sitetour .sitetour__header {
    padding: 10px 20px;
    border-bottom: 1px solid #c80000;
    background: #e6c8c8; }
  tt-sitetour .sitetour__title {
    margin: 0; }
  tt-sitetour .sitetour__description {
    margin: 0;
    padding: 10px; }
  tt-sitetour .sitetour__close {
    position: absolute;
    top: -14px;
    right: -13px;
    cursor: pointer;
    color: #b4b4b4; }
    tt-sitetour .sitetour__close:hover {
      color: gray; }
  tt-sitetour .sitetour__arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    border: 2px solid #c80000;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    margin: -3px auto;
    border-top: 0;
    border-left: 0;
    background: #fff; }

.tt-targets {
  height: calc(100% - 50px);
  position: fixed;
  width: 100%;
  z-index: -1;
  overflow: auto; }
  .tt-targets-settings {
    display: block; }
  .tt-targets input {
    width: 100%;
    outline-color: #dc0000; }
  .tt-targets .tt-targets-settings {
    display: block; }
    .tt-targets .tt-targets-settings__column {
      max-width: 350px !important;
      display: block;
      margin: 0 auto; }
    .tt-targets .tt-targets-settings__main {
      height: 100px; }
      .tt-targets .tt-targets-settings__main-input {
        border: 12px solid;
        padding: 3px 10px;
        font-size: 20px;
        border-top-color: #e60000;
        border-left-color: #dc0000;
        border-bottom-color: #be0000;
        border-right-color: #d20000; }
        .tt-targets .tt-targets-settings__main-input:disabled {
          border-radius: 5px;
          color: #fff;
          background-color: #c80000; }
    .tt-targets .tt-targets-settings__global {
      opacity: 0; }
      .tt-targets .tt-targets-settings__global-long-wrapper {
        padding: 0 5px; }
      .tt-targets .tt-targets-settings__global-input {
        border: 4px solid #dc0000;
        font-size: 17px; }
        .tt-targets .tt-targets-settings__global-input:disabled {
          background-color: #d20000;
          color: #fff;
          border-radius: 3px; }
    .tt-targets .tt-targets-settings__long-check {
      position: absolute;
      right: 5px;
      top: 7px;
      font-size: 18px;
      color: #ababab; }
      .tt-targets .tt-targets-settings__long-check.checked {
        color: #00aa00;
        text-shadow: 0 0 10px white; }
    .tt-targets .tt-targets-settings__long-short-wrapper {
      padding: 0 5px; }
      .tt-targets .tt-targets-settings__long-short-wrapper hr {
        height: 0px;
        border-top: 1px solid #c80000;
        margin: 0px;
        display: none; }
    .tt-targets .tt-targets-settings__long-input {
      border: 2px solid #dc0000;
      font-size: 15px;
      border-top: 0px; }
      .tt-targets .tt-targets-settings__long-input:disabled {
        margin-top: 3px;
        border-top: 2px solid #dc0000;
        background: #dc0000;
        color: #fff;
        border-radius: 3px; }
    .tt-targets .tt-targets-settings__long-dropdown.open hr {
      display: block; }
    .tt-targets .tt-targets-settings__long-dropdown.open .tt-targets-settings__short-input-container {
      height: 24px; }
    .tt-targets .tt-targets-settings__short-input {
      border: 1px solid #dc0000;
      font-size: 14px;
      border-bottom: 0px; }
      .tt-targets .tt-targets-settings__short-input:first-child {
        border-top: 1px solid #dc0000; }
      .tt-targets .tt-targets-settings__short-input:disabled {
        background-color: #dc0000;
        color: #fff;
        border-radius: 3px; }
      .tt-targets .tt-targets-settings__short-input-container {
        height: 0;
        overflow: hidden; }
  .tt-targets .tt-targets-overview-ul {
    padding: 0; }
    .tt-targets .tt-targets-overview-ul-li {
      margin-top: 10px; }
  .tt-targets .tt-targets-overview-target {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05); }
    .tt-targets .tt-targets-overview-target__shown {
      background-color: rgba(0, 200, 0, 0.2); }

.text-placeholder {
  color: rgba(0, 0, 0, 0.3); }

.color-red {
  color: #c80000; }

.container-title {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #c80000;
  background: #e6c8c8; }

.cursor-p {
  cursor: pointer; }

.dropdown nav {
  display: none; }

.dropdown.open nav {
  display: block; }

.input-row .input-row input {
  border: 1px solid #c80000;
  font-size: 14px;
  padding: 1px 5px; }
  .input-row .input-row input:focus {
    outline: 5px auto #c80000; }

.input-row .input-row-delete {
  color: rgba(200, 0, 0, 0.5); }
  .input-row .input-row-delete:hover {
    color: #c80000; }

.input-row .input-row-done {
  margin: 0; }
  .input-row .input-row-done.done {
    color: #00aa00; }

.input-row .input-row-name {
  margin: 0; }

.input-row .input-row-timeset input {
  width: 80px; }

.input-row .input-row-timeset i {
  color: gray;
  right: 10px;
  top: 1px; }

.input-row .input-row-period {
  color: gray; }
  .input-row .input-row-period-week {
    color: #00aa00; }

.input-row .input-row-delete, .input-row .input-row-period {
  cursor: pointer; }

.input-row .input-row-sign {
  cursor: pointer; }

.input-row .input-row-urgent {
  color: gold; }

.input-row .input-row-important {
  color: #c80000; }

.input-row .input-row-main {
  color: #0000c8; }

.input-row .input-bottom {
  padding: 1px 4px;
  border: 0px;
  border-bottom: 1px solid #b4b4b4;
  height: 30px; }

.input-row .invalid {
  border-color: #c80000; }

.overflow-a {
  overflow: auto; }

.overflow-s {
  overflow: scroll; }

.overflow-h {
  overflow: hidden; }

.overflow-i {
  overflow: initial; }

.relative {
  position: relative; }

.rotate_270 {
  transform: rotate(270deg); }

.tabs-button {
  height: 40px;
  padding-top: 8px;
  border: 1px solid #fff;
  border-radius: 0 0 5px 5px;
  border-top: 0px;
  background-color: rgba(200, 0, 0, 0.1);
  cursor: pointer; }
  .tabs-button.active {
    background-color: #c80000;
    color: #fff;
    font-weight: 600;
    border-color: #fff; }

.top0 {
  top: 0 !important; }

.top-100 {
  top: -100% !important; }

.absolute {
  position: absolute; }

.disp-n {
  display: none !important; }

.disp-i {
  display: inline !important; }

.disp-ib {
  display: inline-block !important; }

.disp-b {
  display: block !important; }

.relative {
  position: relative; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: -moz-none; }

.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.layout-row, .layout-column {
  display: flex; }

.layout-row {
  flex-direction: row; }
  .layout-row > .flex {
    flex: 1 1 0%; }
    .layout-row > .flex-5 {
      flex: 1 1 5%;
      max-width: 5%; }
    .layout-row > .flex-10 {
      flex: 1 1 10%;
      max-width: 10%; }
    .layout-row > .flex-15 {
      flex: 1 1 15%;
      max-width: 15%; }
    .layout-row > .flex-20 {
      flex: 1 1 20%;
      max-width: 20%; }
    .layout-row > .flex-25 {
      flex: 1 1 25%;
      max-width: 25%; }
    .layout-row > .flex-30 {
      flex: 1 1 30%;
      max-width: 30%; }
    .layout-row > .flex-33 {
      flex: 1 1 33.33%;
      max-width: 33.33%; }
    .layout-row > .flex-35 {
      flex: 1 1 35%;
      max-width: 35%; }
    .layout-row > .flex-40 {
      flex: 1 1 40%;
      max-width: 40%; }
    .layout-row > .flex-45 {
      flex: 1 1 45%;
      max-width: 45%; }
    .layout-row > .flex-50 {
      flex: 1 1 50%;
      max-width: 50%; }
    .layout-row > .flex-55 {
      flex: 1 1 55%;
      max-width: 55%; }
    .layout-row > .flex-60 {
      flex: 1 1 60%;
      max-width: 60%; }
    .layout-row > .flex-65 {
      flex: 1 1 65%;
      max-width: 65%; }
    .layout-row > .flex-66 {
      flex: 1 1 66.66%;
      max-width: 66.66%; }
    .layout-row > .flex-70 {
      flex: 1 1 70%;
      max-width: 70%; }
    .layout-row > .flex-75 {
      flex: 1 1 75%;
      max-width: 75%; }
    .layout-row > .flex-80 {
      flex: 1 1 80%;
      max-width: 80%; }
    .layout-row > .flex-85 {
      flex: 1 1 85%;
      max-width: 85%; }
    .layout-row > .flex-90 {
      flex: 1 1 90%;
      max-width: 90%; }
    .layout-row > .flex-95 {
      flex: 1 1 95%;
      max-width: 95%; }
    .layout-row > .flex-100 {
      flex: 1 1 100%;
      max-width: 100%; }

.layout-column {
  flex-direction: column; }
  .layout-column > .flex {
    flex: 1 1 0%; }
    .layout-column > .flex-5 {
      flex: 1 1 5%;
      max-height: 5%; }
    .layout-column > .flex-10 {
      flex: 1 1 10%;
      max-height: 10%; }
    .layout-column > .flex-15 {
      flex: 1 1 15%;
      max-height: 15%; }
    .layout-column > .flex-20 {
      flex: 1 1 20%;
      max-height: 20%; }
    .layout-column > .flex-25 {
      flex: 1 1 25%;
      max-height: 25%; }
    .layout-column > .flex-30 {
      flex: 1 1 30%;
      max-height: 30%; }
    .layout-column > .flex-33 {
      flex: 1 1 33.33%;
      max-height: 33.33%; }
    .layout-column > .flex-35 {
      flex: 1 1 35%;
      max-height: 35%; }
    .layout-column > .flex-40 {
      flex: 1 1 40%;
      max-height: 40%; }
    .layout-column > .flex-45 {
      flex: 1 1 45%;
      max-height: 45%; }
    .layout-column > .flex-50 {
      flex: 1 1 50%;
      max-height: 50%; }
    .layout-column > .flex-55 {
      flex: 1 1 55%;
      max-height: 55%; }
    .layout-column > .flex-60 {
      flex: 1 1 60%;
      max-height: 60%; }
    .layout-column > .flex-65 {
      flex: 1 1 65%;
      max-height: 65%; }
    .layout-column > .flex-66 {
      flex: 1 1 66.66%;
      max-height: 66.66%; }
    .layout-column > .flex-70 {
      flex: 1 1 70%;
      max-height: 70%; }
    .layout-column > .flex-75 {
      flex: 1 1 75%;
      max-height: 75%; }
    .layout-column > .flex-80 {
      flex: 1 1 80%;
      max-height: 80%; }
    .layout-column > .flex-85 {
      flex: 1 1 85%;
      max-height: 85%; }
    .layout-column > .flex-90 {
      flex: 1 1 90%;
      max-height: 90%; }
    .layout-column > .flex-95 {
      flex: 1 1 95%;
      max-height: 95%; }
    .layout-column > .flex-100 {
      flex: 1 1 100%;
      max-height: 100%; }

.layout-align-space-between-start, .layout-align-space-between-center, .layout-align-space-between-end {
  justify-content: space-between; }

.layout-align-space-between-start {
  align-items: flex-start; }

.layout-align-space-between-center {
  align-items: center; }

.layout-align-space-between-end {
  align-items: flex-end; }

.layout-align-space-around-start, .layout-align-space-around-center, .layout-align-space-around-end {
  justify-content: space-around; }

.layout-align-space-around-start {
  align-items: flex-start; }

.layout-align-space-around-center {
  align-items: center; }

.layout-align-space-around-end {
  align-items: flex-end; }

.layout-align-start-start, .layout-align-start-center, .layout-align-start-end {
  justify-content: flex-start; }

.layout-align-start-start {
  align-items: flex-start; }

.layout-align-start-center {
  align-items: center; }

.layout-align-start-end {
  align-items: flex-end; }

.layout-align-center-start, .layout-align-center-center, .layout-align-center-end {
  justify-content: center; }

.layout-align-center-start {
  align-items: flex-start; }

.layout-align-center-center {
  align-items: center; }

.layout-align-center-end {
  align-items: flex-end; }

.layout-align-end-start, .layout-align-end-center, .layout-align-end-end {
  justify-content: flex-end; }

.layout-align-end-start {
  align-items: flex-start; }

.layout-align-end-center {
  align-items: center; }

.layout-align-end-end {
  align-items: flex-end; }

.layout-wrap {
  flex-wrap: wrap; }

.p-4 {
  padding: 4px; }

.p-8 {
  padding: 8px; }

.p-16 {
  padding: 16px; }

.p-32 {
  padding: 32px; }

.pv-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.pv-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.pv-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.pv-32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.ph-4 {
  padding-left: 4px;
  padding-right: 4px; }

.ph-8 {
  padding-left: 8px;
  padding-right: 8px; }

.ph-16 {
  padding-left: 16px;
  padding-right: 16px; }

.ph-32 {
  padding-left: 32px;
  padding-right: 32px; }

.pt-4 {
  padding-top: 4px; }

.pt-8 {
  padding-top: 8px; }

.pt-16 {
  padding-top: 16px; }

.pt-32 {
  padding-top: 32px; }

.pr-4 {
  padding-right: 4px; }

.pr-8 {
  padding-right: 8px; }

.pr-16 {
  padding-right: 16px; }

.pr-32 {
  padding-right: 32px; }

.pb-4 {
  padding-bottom: 4px; }

.pb-8 {
  padding-bottom: 8px; }

.pb-16 {
  padding-bottom: 16px; }

.pb-32 {
  padding-bottom: 32px; }

.pl-4 {
  padding-left: 4px; }

.pl-8 {
  padding-left: 8px; }

.pl-16 {
  padding-left: 16px; }

.pl-32 {
  padding-left: 32px; }

.m-0 {
  margin: 0px; }

.m-4 {
  margin: 4px; }

.m-8 {
  margin: 8px; }

.m-16 {
  margin: 16px; }

.m-32 {
  margin: 32px; }

.mv-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.mv-4 {
  margin-top: 4px;
  margin-bottom: 4px; }

.mv-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.mv-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.mv-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.mh-0 {
  margin-left: 0px;
  margin-right: 0px; }

.mh-4 {
  margin-left: 4px;
  margin-right: 4px; }

.mh-8 {
  margin-left: 8px;
  margin-right: 8px; }

.mh-16 {
  margin-left: 16px;
  margin-right: 16px; }

.mh-32 {
  margin-left: 32px;
  margin-right: 32px; }

.mt-0 {
  margin-top: 0px; }

.mt-4 {
  margin-top: 4px; }

.mt-8 {
  margin-top: 8px; }

.mt-16 {
  margin-top: 16px; }

.mt-32 {
  margin-top: 32px; }

.mr-0 {
  margin-right: 0px; }

.mr-4 {
  margin-right: 4px; }

.mr-8 {
  margin-right: 8px; }

.mr-16 {
  margin-right: 16px; }

.mr-32 {
  margin-right: 32px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-4 {
  margin-bottom: 4px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-32 {
  margin-bottom: 32px; }

.ml-0 {
  margin-left: 0px; }

.ml-4 {
  margin-left: 4px; }

.ml-8 {
  margin-left: 8px; }

.ml-16 {
  margin-left: 16px; }

.ml-32 {
  margin-left: 32px; }

.ta-l {
  text-align: left; }

.ta-c {
  text-align: center; }

.ta-r {
  text-align: right; }

.va-b {
  vertical-align: bottom; }

.va-m {
  vertical-align: middle; }

.va-t {
  vertical-align: top; }

.fw-b {
  font-weight: bold; }

.op-0 {
  opacity: 0 !important; }

.op-1 {
  opacity: 1 !important; }

.transition-5 {
  transition: .5s; }

.w100 {
  width: 100% !important; }

.w90 {
  width: 90% !important; }

.w80 {
  width: 80% !important; }

.w50 {
  width: 50% !important; }

.w33 {
  width: 33% !important; }

.h100 {
  height: 100% !important; }

.left100 {
  left: 100%; }

tt-menu {
  height: 50px;
  background-color: #c80000; }
  tt-menu .tt-menu__link {
    height: 50px; }
    tt-menu .tt-menu__link .tt-menu__link-button {
      color: #fff;
      text-transform: uppercase;
      display: block;
      padding: 15px;
      cursor: pointer; }
      tt-menu .tt-menu__link .tt-menu__link-button:hover {
        color: #c80000;
        background: #fff;
        text-decoration: none; }
  tt-menu .tt-menu__dropdown nav {
    position: absolute;
    border: 1px solid #c80000;
    border-top: 0px;
    margin: 0;
    min-width: 99px;
    z-index: 1; }
    tt-menu .tt-menu__dropdown nav p, tt-menu .tt-menu__dropdown nav a {
      color: #fff;
      background: #c80000;
      text-transform: uppercase;
      padding: 5px;
      margin: 0;
      text-align: center;
      cursor: pointer; }
      tt-menu .tt-menu__dropdown nav p:hover, tt-menu .tt-menu__dropdown nav a:hover {
        color: #c80000;
        background: #fff; }
