$white: #fff;
$darkgray: rgb(51,51,51);
$lightgray: rgb(180,180,180);
$gray: gray;
$black: #000;
$mainblue: #1b49be;
$darkblue: rgb(0,0,200);
$darkblue05: rgba(0,0,200,.5);
$darkblue02: rgba(0,0,200,.2);
$darkgreen: rgb(0,170,0);
$darkgreen05: rgba(0,200,0,.5);
$darkgreen02: rgba(0,200,0,.2);
$darkred: rgb(200,0,0);
$darkred09: rgba(200,0,0,.9);
$darkred05: rgba(200,0,0,.5);
$darkred02: rgba(200,0,0,.2);
$darkred01: rgba(200,0,0,.1);
$darkyellow: rgb(255, 215, 0);
$darkviolet: rgb(208, 30, 208);

$btnprimback: rgb(136,0,0);
$btnprimbord: rgb(114,0,0);
$btnprimdisback: rgb(136,56,56);