@mixin boxshadow() {
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.5);
}

@mixin noselect(){
    user-select: none;
    cursor: default;
}

@mixin backskyscrapers(){
    background-image: url(/assets/images/skyscrapers.jpg);
    background-size: cover;
    background-position: 50%;
}

@mixin backradialshadow(){
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}